/*
# Container
*/


/*
## .l-container-2
*/

.l-container-2 {
  
  @include e( primary ) {
    
  }
  
  @include e( secondary ) {
    
  }
  
  @include e( tertiary ) {
    
  }
}


/*
## .l-container-1
*/

.l-container-1 {
  @include legacy-pie-clearfix;
  
  @include e( primary ) {
    float: left;
  }
  
  @include e( secondary ) {
    float: right;
  }
  
  @include e( tertiary ) {
    clear: both;
  }
}

