/*
# Footer
*/


/*
## .l-footer-2
*/

.l-footer-2 {
  
}


/*
## .l-footer-1
*/

.l-footer-1 {
  padding: 20px;
  color: #fff;
  background-color: #333;
  
  a {
    color: #fff;
  }
  
  @include e( copyright ) {
    text-align: center;
  }
}

